@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icon {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-icon span {
  display: block;
  height: 4px;
  width: 30px;
  background: #0696BA;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Animation classes */
.menu-icon.open span:nth-child(1) {
  transform: translateY(12.5px) rotate(45deg);
  background: #ff536b;
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

/* .menu-icon span:nth-child(2) {
  width: 18px;
} */

.menu-icon.open span:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
  background: #ff536b;
}


/* Banner */
.banner-container {
  background-image: url("/banner/Hero-Bg.jpg");
  background-size: cover;
  /* z-index: -1; */
}

.sub-menu {
  @apply bg-primary w-full text-white font-medium border-b border-white hover:bg-white hover:text-primary hover:border-primary transition-all duration-500
}

.myBtn {
  @apply border-2 border-primary text-[#ffffff] bg-primary hover:text-primary hover:bg-transparent rounded-[10px] transition-all duration-500
}

.shadow-primary {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.table-container {
  overflow-x: auto;
  margin: 20px 0;
  /* border-bottom: 4px solid red; */
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

#difference-table {
  overflow-x: auto;
  width: 100%;
}

#difference-table td,
#difference-table th {
  border: 0px solid white;
  padding: 15px 40px;
}

#difference-table tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}

#difference-table tbody tr:last-child {
  background-color: #f0f0f0;
}


#difference-table th {
  font-size: 20px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: "#000000";
}

.custom-radio input[type="radio"] {
  display: none;
}

/* Style for the custom radio button */
.custom-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 10px;
}

/* Style for the radio button */
.custom-radio label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  border-radius: 50%;
}

/* Style for the checked radio button */
.custom-radio input[type="radio"]:checked+label:before {
  background-color: #2196F3;
  border-color: #2196F3;
}

/* Optional: Style for the check mark */
.custom-radio label:after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

/* Show the check mark when the radio input is checked */
.custom-radio input[type="radio"]:checked+label:after {
  display: block;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

/* .drop-container:hover {
  background: #eee;
  border-color: #111;
} */

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  transition: color .2s ease-in-out;
}

.uploadLabel {
  @apply border-2 border-primary text-[#ffffff] bg-primary hover:text-primary hover:bg-transparent rounded-[10px] transition-all duration-500 px-6 py-2
}

.tabBtn {
  border-bottom: 4px solid transparent;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 500ms;
}

.tabBtn:hover {
  color: #0696BA;
  border-bottom-color: #0696BA;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 500ms;
}

.tabBtn.active {
  color: #0696BA;
  border-bottom-color: #0696BA;
}