@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icon {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-icon span {
  display: block;
  height: 4px;
  width: 30px;
  background: #0696BA;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Animation classes */
.menu-icon.open span:nth-child(1) {
  transform: translateY(12.5px) rotate(45deg);
  background: #ff536b;
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

/* .menu-icon span:nth-child(2) {
  width: 18px;
} */

.menu-icon.open span:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
  background: #ff536b;
}


/* Banner */
.banner-container {
  background-image: url("/banner/Hero-Bg.jpg");
  background-size: cover;
  /* z-index: -1; */
}

.sub-menu {
  @apply bg-primary w-full text-white font-medium border-b border-white hover:bg-white hover:text-primary hover:border-primary transition-all duration-500
}

.myBtn {
  @apply border-2 border-primary text-[#ffffff] bg-primary hover:text-primary hover:bg-transparent rounded-[10px] transition-all duration-500
}

.shadow-primary {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.table-container {
  overflow-x: auto;
  margin: 20px 0;
}

#difference-table {
  overflow-x: auto;
  width: 100%;
}

#difference-table td,
#difference-table th {
  border: 0px solid white;
  padding: 15px 40px;
}

#difference-table tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}


#difference-table th {
  font-size: 20px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: "#000000";
}